.gallery {
  padding: 20px;
  padding-left: 0;
}

.gallery ul{
  display: flex;
  flex-direction: row;
} 

.gallery ul li{
  margin-left: 25px;
}

.gallery ul li:first-child{
  margin-left: 0px;
}

.gallery ul li a img{
  border:solid 6px white;
  border-radius: 15px;
}

.gallery #gallery__1_h {
  padding: 30px;
}

.gallery #gallery__2_h {
  padding: 28px;
}

.gallery #gallery__3_h {
  padding: 28px;
}

.gallery #gallery__1_t {
  padding: 20px;
   margin-top: -110px;
}

.gallery #gallery__2_t {
  padding: 20px;
  margin-top: -140px;
}

.gallery #gallery__3_t {
  padding: 20px;
   margin-top: -100px;
}


.s-wrapper .s-main-content__bottom .lista_fotos1 {
  padding: 30px;
   margin-top: -115px;
}

.s-wrapper .s-main-content__bottom .lista_fotos2 {
  padding: 30px;
  margin-top: -90px;
}